// options.scss

@import 'variables';
@import 'global';

html, body{
  background-color:#f4f4f4;
}

html, body, #wrap{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

header{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 8px;
  background-color: #DB5600;
  box-shadow: 0px 2px 3px 0px #ccc;
  color: #FFF;
  font-size: 30px;

  input{
    height: 40px;
    font-size: 30px;
    color: #FFF;
    width: 500px;
    border:0;
    border-bottom: 2px solid #FFF;
    outline: none;
    background-color:transparent;
    text-align: center;
  }

  .settings-btn{
    background-image:url(../../images/settings-white.png);
    background-size:contain;
    width: 30px;
    height: 30px;
    margin: 6px 10px 0px;
  }
}

.centerer{
  width: 900px;
  margin: auto;
}

section#middle{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

footer{
  border-top: 1px solid #CCC;
  background-color:#EEE;
  min-height: 100px;
  padding: 20px;

  .credits{
    font-size: 16px;

    a{
      text-decoration: underline;
      font-weight: 400;
    }
  }
}

.settings{
  display: flex;
}
.settings-group{
  width: 50%;
  flex-grow:1;
  padding: 10px;
}
.settings-block{
  margin: 8px 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #ccc;
  word-wrap: break-word;
  max-height: 550px;
  min-height: 300px;
}

.usage{
  font-size: 10px;
  color: rgba($supportedGreen, 0.8);
}
.user-note{
  font-style: italic;
  color: #999;
  font-size: 11px;
  padding:5px 0;
}



.browser-settings{
  width: 60%;

  .settings-block{
    display: flex;
  }


  ul.browser-list{
    border-right: 1px solid #CCC;
    width: 50%;
    flex-grow: 1;

    li{
      padding: 10px;

      &:hover{
        background-color:#EEE;
      }
    }

  }
  .version-settings{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
  }

  ul.version-list{
    position:relative;

    &.inactive{
      opacity: .5;
      &:before{
        content: '';
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color:#000;
        opacity: 0.1;
        z-index: 1;
      }
    }

    $shadowBottom:inset 0px -9px 7px -4px #ddd;
    $shadowTop:inset 0px 9px 7px -4px #ddd;
    &.shadow-bottom{
      box-shadow:$shadowBottom;
    }
    &.shadow-top{
      box-shadow:$shadowTop;
    }
    &.shadow-bottom.shadow-top{
      box-shadow:$shadowBottom, $shadowTop;
    }

    li{
      padding: 10px;
    }
  }

   ul.browser-list, ul.version-list{
    position:relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    li{
      display: flex;
      align-items:center;
      position:relative;
      min-height: 36px;
      cursor: default;

      &.disabled, &.disabled:hover{
        color: #CCC;
      }
      &.active{
        background-color:#EEE;
      }

      h3{
        padding: 0px 5px;
      }
      .usage{
        padding-right: 5px;
      }
      .current{
        background-image: url(../../images/checkmark-green.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 12px;
        padding-left: 22px;
        height: 18px;
        display: inline-block;
      }
    }

  }

}

.toggle{
  min-width: 20px; // width on flexbox was causing issues
  height: 20px;
  background-image: url(../../images/checkbox.png);
  background-size:40px 20px;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;

  &:active{
    transform:translateY(2px);
  }
  &.enabled{
    opacity: 1;
    background-position: -20px 0px;
  }
  &.disabled, &.disabled:hover{
    cursor: default;
    opacity: 0.3;
    background-position: -20px 0px;
    transform: none;
  }
}

.generic-settings{
  width: 40%;

  .settings-block{
    padding: 20px;
  }
}

.save-locally{
  display: flex;
  position:relative;

  span{
    padding-left: 5px;
  }
  i{
    color: #aaa;
  }
}



.none-active{
  font-size: 16px;
  text-align: center;
  margin: 100px auto;
  padding:0px 40px;
  color: #CCC;
}

#no-data{
  font-weight: 700;
  text-align: center;
  width: 500px;
  margin: 200px auto;
  color: #AAA;
  h2{
    font-size: 30px;
  }
  h4{
    font-size: 18px;
    padding-top:20px;
  }
}

@import 'feature-support';

#no-results{
  border: 0;
  text-align: center;
  font-size: 20px;
}

.results{
  box-shadow: 1px 1px 5px #ccc;
  border-radius:2px;
  margin-bottom: 10px;
}

.local-details{
  display: flex;
  align-items:center;
  padding: 10px 10px 10px 25px;

  .last-update{

    .date{
      color: $supportedGreen;
    }
  }
  .refresh{
    margin-left: 5px;
  }
}

.refresh{
  background-image:url(../../images/refresh.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

  &.refreshing{
    animation: rotate 500ms linear infinite;
  }
}