<!DOCTYPE html>
<html lang="en" ng-app="CaniuseOptions">
<head>
  <base href="/"/>
  <meta charset="UTF-8">
  <title>Caniuse Options</title>

  <link rel="stylesheet" href="styles/options.css">

  <!-- build:jsLibs js/libs.js -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/underscore/underscore-min.js"></script>
  <!-- endbuild -->

  <!-- build:js js/options.js -->
  <script src="js/options.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/components/feature-support.js"></script>
  <script src="js/components/feature-search.js"></script>
  <script src="js/components/rich-text.js"></script>
  <script src="js/components/tab-link.js"></script>
  <!-- endbuild -->

</head>
<body class="options-page">
  <div id="wrap" ng-controller="optionsController" search-emitter />

    <div class="flex-content" ng-if="settings.usable">

      <header>
        <div class="header-search centerer">
          <span class="text-left">Can I Use</span>
          <input type="text" class="search" ng-keydown="setMode('search')" ng-focus="setMode('search')" feature-search />
          <span>?</span>
        </div>
        <div class="settings-btn btn" ng-class="{transparent : modeIs('settings')}" ng-click="setMode('settings')"></div>
      </header>

      <section id="middle" class="centerer" ng-if="settings">

        <div class="settings" ng-if="modeIs('settings')">
          <div class="browser-settings settings-group">
            <h2>Browser Options <span class="user-note">current version plus the next and previous 2 versions will always show</span></h2>
            <div class="settings-block">
              <ul class="browser-list">
                <li ng-repeat="(id, browser) in browsers track by $index" ng-class="{active : isActive(id)}" ng-click="makeActive(browser)" class="browser-list-item">
                  <div class="toggle btn" ng-click="toggleBrowserState(id)" ng-class="{enabled : settings.browserIsActive(id)}"></div>
                  <h3>{{browser.data.browser}}</h3>
                  <span class="usage">{{browser.getFullUsage()}}%</span>
                </li>
              </ul>

              <div class="version-settings">
                <div class="none-active" ng-if="!activeBrowser">
                  Click on a browser to change version settings
                </div>
                <ul ng-if="activeBrowser" class="version-list" ng-class="{inactive : !browserSettings || !browserSettings.active}" scroll-watch-ui>
                  <li
                  ng-repeat="(id, version) in activeBrowser.getVersions(true) | reverse track by $index"
                  ng-class="{disabled : activeBrowser.versionIsGreen(version.version)}"
                  class="browser-list-item">
                    <div
                    class="toggle btn"
                    ng-click="toggleVersionState(activeBrowser.data.id, version.version)"
                    ng-class="{enabled : settings.versionIsExplicit(activeBrowser.data.id, version.version), disabled : activeBrowser.versionIsGreen(version.version)}"></div>
                    <h3>
                      {{version.version}}
                    </h3>
                    <span class="usage">{{version.global_usage.toFixed(2)}}%</span>
                    <span class="current" ng-if="version.era == 0"></span>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="generic-settings settings-group">
            <h2>Generic Options</h2>
            <div class="settings-block">
              <div class="save-locally">
                <div class="toggle btn" ng-click="toggleLocal()" ng-class="{enabled : settings.shouldSaveData()}"></div>
                <span>Save <i>Can I Use</i> data to my local web storage for offline use</span>
              </div>
              <div class="local-details" ng-if="settings.shouldSaveData()" ng-class="{refreshing : refreshingLocalData}">
                <div class="last-update">Last updated: <span class="date">{{settings.lastUpdated() | date:'MMM d, y h:mm a'}}</span></div>
                <div class="refresh btn" ng-click="refreshLocalData()" ng-class="{refreshing : refreshingLocalData}"></div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="modeIs('search')">
          <div class="result-count" ng-if="searchResults.length > 1">Showing {{searchResults.length}} results of {{searchTotal}}</div>
          <div ng-repeat="item in searchResults track by $index">
            <feature-support feature-obj="item"></feature-support>
          </div>
          <div class="no-data" ng-if="noResults()">
            <h2>No results found for <b>{{searchValue}}</b></h2>
          </div>
          <div class="no-data" ng-if="!searchValue">
            <h2>Search for something...</h2>
          </div>
        </div>

      </section>

      <footer>
        <div class="credits">Powered By <a href="http://caniuse.com" target="_blank">caniuse.com</a></div>
      </footer>

    </div>

    <!-- show when the caniuse data could not be found -->
    <div class="no-data" class="flex-content" ng-if="!settings.usable">
      <h2>Something went wrong!</h2>
      <h4>
        Make sure you are connected to the internet and try reloading this chrome extension at <a href="chrome://extensions/" tab-link>chrome://extensions/</a>.
      </h4>
    </div>

  </div>

</body>
</html>